
.myAdminButton{
  margin-right: 10px;
}

.myEventModal {
  margin: auto;
  max-width: 100%;
  width: 80%;
}

.rightButtons{
  float: right;
}


/* Text */
.txtLive{
  color: #28a745;
  font-weight: bold;
  text-align: center;
}

.txtScore{
  color: dodgerblue;
  font-weight: bold;
  text-align: center;
}

.txtWinner{
  color: #28a745;
  font-weight: bold;
  text-align: center;
}

.doughnutChart{
  background-color: whitesmoke;
  height: 15vh;
}

.betsChart{
  width: 100%;
  height: 15vh;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #9db9cc;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #3c647f;
  color: white;
}